<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration and Login</title>
    <link rel="stylesheet" href="css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../shared/head") %>
    <main class="main-content">
        <section class="normal-content">
            <h2>About DishDiscovery</h2>
            <p>DishDiscovery is your go-to platform for discovering and sharing delicious recipes from around the world. Whether you're an experienced chef or a novice cook, we provide a diverse range of recipes to cater to every taste and skill level.</p>
            <p>Join our vibrant community of food enthusiasts to explore new culinary horizons, share your favorite recipes, and connect with like-minded individuals who share your passion for cooking.</p>
            <h3>Registration Information</h3>
            <p>To access all the features of DishDiscovery, including sharing recipes and connecting with other users, you need to register for an account. Registration is free and only takes a few moments. Simply click on the "Register" link in the navigation menu to get started.</p>
            <h3>Developer Information</h3>
            <p>DishDiscovery is developed by a team of dedicated individuals who are passionate about food and technology:</p>
            <ul>
                <ul><h5 class="devinfo">Nitya Patel</h5></ul>
                <ul><h5 class="devinfo">Pratham Patel</h5></ul>
                <ul><h5 class="devinfo">Dharmik Patel</h5></ul>
            </ul>
            <p>For any inquiries or feedback about DishDiscovery, feel free to contact us at [insert contact email or form]. We're constantly striving to improve our platform and would love to hear from you!</p>
        </section>
    </main>
</body>
<%- include("../shared/footer") %>
</html>
