<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DishDiscovery</title>
    <link rel="stylesheet" href="css\style.css">
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../shared/head") %>

    <main class="main-content">
        <section class="hero-section">
            <div>
                <h2>Discover & Share Delicious Recipes</h2>
                <h3>Join our community of food lovers!</h3>
                
            </div>
        </section>
        
        
        <section>
            <div class="normal-content">
                <h3>Join DishDiscovery</h3>
                <p>Welcome to DishDiscovery, your ultimate destination for exploring and sharing mouthwatering recipes from around the globe. Whether you're a seasoned chef or just starting your culinary journey, our platform offers a wide array of recipes to suit every taste and skill level.</p>
                <p>Join our vibrant community of food enthusiasts, where you can discover new culinary delights, share your favorite recipes, and connect with like-minded individuals who share your passion for cooking.</p>
                <p>Start your culinary adventure today and embark on a journey of flavor exploration with DishDiscovery!</p>
        
            </div>
        </section>
            <section class="recipe-cards">
                <div class="recipe-card">
                    <img src="Image/japaneseshushi.jpg" alt="Japanese Sushi">
                    <h2>Japanese Sushi</h2>
                    <p>Fresh sushi rolls with salmon, avocado, and cucumber.</p>
                    <a href="#">View Recipe</a>
                </div>
                <div class="recipe-card">
                    <img src="Image/mexicantacos.jpg" alt="Mexican Tacos">
                    <h2>Mexican Tacos</h2>
                    <p>Spicy tacos with seasoned ground beef, salsa, and cheese.</p>
                    <a href="#">View Recipe</a>
                </div>
                <div class="recipe-card">
                    <img src="Image/chickencurry.jpg" alt="Indian Curry">
                    <h2>Indian Chicken Curry</h2>
                    <p>Fragrant curry with chicken, vegetables, and aromatic spices.</p>
                    <a href="#">View Recipe</a>
                </div>
            </section>

    </main>
</body>
<%- include("../shared/footer") %>
</html>
