<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DishDiscovery</title>
    <link rel="stylesheet" href="css\style.css">
    <script src="script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../shared/head") %>

    <main class="main-content">
        <section class="hero-section">
            <div>
                <h2>Discover & Share Delicious Recipes</h2>
                <h3>Join our community of food lovers!</h3>               
            </div>
        </section>
        
        
        <section>
            <div class="normal-content">
                <h3>Join DishDiscovery</h3>
                <p>Welcome to DishDiscovery, your ultimate destination for exploring and sharing mouthwatering recipes from around the globe. Whether you're a seasoned chef or just starting your culinary journey, our platform offers a wide array of recipes to suit every taste and skill level.</p>
                <p>Join our vibrant community of food enthusiasts, where you can discover new culinary delights, share your favorite recipes, and connect with like-minded individuals who share your passion for cooking.</p>
                <p>Start your culinary adventure today and embark on a journey of flavor exploration with DishDiscovery!</p>
        
            </div>
        </section>
        <section class="featured-blogs">
            <div class="blog-card">
                <img src="Image/blog1.png" alt="Food Blog Image">
                <h2>5 Easy Weeknight Dinner Ideas</h2>
                <p>Looking for quick and delicious dinner ideas for busy weeknights? Check out these 5 recipes that you can whip up in no time!</p>
                <a href="https://food52.com/blog/28306-weeknight-dinner-recipes">Read More</a>
            </div>
            <div class="blog-card">
                <img src="Image/blog2.jpg" alt="Food Blog Image">
                <h2>The Art of Baking: Tips for Perfect Pastries</h2>
                <p>Learn the secrets to baking perfect pastries every time with these expert tips and tricks from professional bakers.</p>
                <a href="https://medium.com/@ZainabRamzan/the-art-of-baking-tips-and-tricks-for-perfect-pastries-11f7bbc29167">Read More</a>
            </div>
            <div class="blog-card">
                <img src="Image/blog3.png" alt="Food Blog Image">
                <h2>Exploring Ethnic Cuisines: A Culinary Adventure</h2>
                <p>Embark on a journey around the world through food! Discover the rich flavors and cultural significance of different ethnic cuisines.</p>
                <a href="https://francoandco.com.au/ethnic-cuisine-a-guide-to-exploring-global-flavours/">Read More</a>
            </div>
        </section>


    </main>
</body>
<%- include("../shared/footer") %>
</html>
