<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    <link rel="stylesheet" href="css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("../shared/head") %>
    <h1>Ingredients</h1>
    <main >
        
        <div class="main-content_ingredients">
            <h1>A</h1>
            <h3>Almonds</h3>
            <h3>Anchovies</h3>
            <h3>Apples</h3>
            <h3>Apricots</h3>
            <h3>Avocados</h3>
            <h3>Artichokes</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>B</h1>
            <h3>Bananas</h3>
            <h3>Barley</h3>
            <h3>Beacon</h3>
            <h3>Beef</h3>
            <h3>Beef Ribs</h3>
            <h3>Brown Rice</h3>
            <h3>Black Olives</h3>
            <h3>Broccoli</h3>
            <h3>Basils</h3>
            
            

        </div>

        <div class="main-content_ingredients">
            <h1>C</h1>
            <h3>Cheese</h3>
            <h3>Cherries</h3>
            <h3>Chiken</h3>
            <h3>Chicken Breast</h3>
            <h3>Chicken Wings</h3>
            <h3>Chocolate</h3>
            <h3>Coconut</h3>
            <h3>Corn Flour</h3>
            <h3>Cornmeal</h3>
            <h3>Cheddar</h3>
            <h3>Coffee</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>D</h1>
            <h3>Duck</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>F</h1>
            <h3>Fish</h3>
            <h3>Flex Seeds</h3>
            <h3>Feta Cheese</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>G</h1>
            <h3>Goat</h3>
            <h3>Ground Beef</h3>
            <h3>Ground Chicken</h3>
            <h3>Ground Turkey</h3>
            <h3>Green Pepper</h3>
            <h3>Green Olives</h3> 
            <h3>Goat Cheese</h3>
            <h3>Green Chillies</h3>
            <h3>Ginger</h3>
            <h3>Garlic</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>H</h1>
            <h3>Ham</h3>
            <h3>Hot Peppers</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>J</h1>
            <h3>Jalapeno Peppers</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>L</h1>
            <h3>Lamb</h3>
            <h3>Lemons</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>M</h1>
            <h3>Mangos</h3>
            <h3>Mushroom</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>N</h1>
            <h3>Nectarines</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>O</h1>
            <h3>Oats</h3>
            <h3>Onions</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>P</h1>
            <h3>Peaches</h3>
            <h3>Peanuts</h3>
            <h3>Pears</h3>
            <h3>Pinapples</h3>
            <h3>Plums</h3>
            <h3>Pomegranates</h3>
            <h3>Pork</h3>
            <h3>Potatoes</h3>
            <h3>Parmeson Cheese</h3>
            <h3>Provolone Cheese</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>Q</h1>
            <h3>Quinoa</h3>
        </div>
        
        <div class="main-content_ingredients">
            <h1>S</h1>
            <h3>Sausage</h3>
            <h3>Seafoof</h3>
            <h3>Shellfish</h3>
            <h3>Steak</h3>
            <h3>Spinach</h3>
            <h3>Sweet Cherry Tomoatoes</h3>
            <h3>Sun Dries Tomatoes</h3>
            <h3>Salt</h3>
            <h3>Sugar</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>T</h1>
            <h3>Turkey</h3>
            <h3>Tomatoes</h3>
        </div>

        <div class="main-content_ingredients">
            <h1>W</h1>
            <h3>White Rice Flour</h3>
            <h3>Wild Game</h3>
            <h3>Wild Rice</h3>
            <h3>Wheat</h3>
        </div>

    </main>
</body>
<%- include("../shared/footer") %>
</html>
